@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #1b9155;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #7eb498;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
}
a{
    text-decoration: none;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: black;
    color: #fff;
}
.navbar a img{
    width: 90px;
    height: auto;
}
.navbar-link{
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    position: relative;
}
.navbar-link::after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    left: 0;
    background-color: #fff;
    transition: width 0.4s ease-in-out;
    bottom: 0;
}
.navbar-link:hover::after{
    width: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.logo img{
    width: 150px;
}
.heading{
    background-image: url(../images/bg-pattern.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 20px;
}
.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
}
.card{
    width: 65%;
    height: 350px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.card-img{
    width: 100%;
    height: 75%;
}
.card-desc{
    width: 100%;
    height: 15%;
    background-color: #1c6640;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.card-btn{
    width: 100%;
    height: 10%;
    background-color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 5px;
}
.card-btn a{
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
}
.card-btn:hover{
    background-color: #ebebeb;
    cursor: pointer;
}
.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/bg-pattern.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    padding: 15px;
}
.banner span{
    color: #fff;
    font-weight: 400;
    padding: 15px;
    font-size: 1rem;
}
.banner img{
    width: 80%;
    height: auto;
    padding: 10px 0;
}
footer{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 0.8rem;
    color: #fff;
}
.footer-links{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.footer-links a{
    color: #fff;
    padding: 5px;
}
.footer-links a:hover{
    color: #ebe6e6;
}
.footer-social{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    font-size: 0.65rem;
    padding-right: 15px;
}



@media screen and (min-width: 490px) {
    body::-webkit-scrollbar{
        display: none;
    }
    .container {
        max-width: 480px;
        margin: auto;
        /* max-height: 100vh;
        overflow-y: scroll; */
    }
    .footer-social{
        font-size: 0.8rem;
        padding: 15px;
    }
    .footer{
        font-size: 1rem;
    }
}